@import 'mixins';

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #eee;
  color: #333;
  overflow-x: hidden;
  @include transition(0.75s cubic-bezier(0.75, 0, 0.25, 1));
}

#wrapper {
  width: 100%;
}

#headerWrap {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 1em 0 1em;
  margin: 0;
  background-color: #bbb;
  box-shadow: 0 0 10px #999;
}

#title {
  justify-self: left;
  font-size: 2em;
  margin: 0.25em;
  i {
    margin: 0.1em;
    vertical-align: middle;
  }
}

#menuBtn {
  position: fixed;
  top: 0;
  right: 0.9em;
  z-index: 1001;
  background: none;
  border: none;
  @include transition(0.75s cubic-bezier(0.75, 0, 0.25, 1));
  &:focus {
    outline: none;
  }

  i {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0.5em;
    font-size: 2.5em;
  }

  .icon-open {
    transition: opacity 0.3s, transform 0.3s;
    transform: rotate(-180deg) scale(0.5);
    opacity: 0;
  }
  .icon-closed {
    transition: opacity 0.3s, transform 0.3s;
  }

  &.open {
    transform: scale(1);
    .icon-open {
      transform: rotate(0deg) scale(1);
      opacity: 1;
    }
    .icon-closed {
      transform: rotate(180deg) scale(0.5);
      opacity: 0;
    }
  }
}

#menu {
  position: fixed;
  right: 0;
  top: 56px;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #20262c;
  color: #ddd;
  @include transition(0.75s cubic-bezier(0.75, 0, 0.25, 1));
  &.closed {
    //margin-right: -150px;
    transform: translate3d(100vw, 0, 0);
  }
  &.open {
    //margin-right: 0;
    transform: translate3d(0px, 0, 0);
  }

  #menuContent {
    width: 90%;
    margin: 1em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    a {
      color: #ddd;
    }
    #toolBox {
      margin: 2em 0 2em 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center;
      .tool {
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          filter: invert(80%);
        }
      }
    }
    #contactLinks {
      margin: 1em;
      .contactDetails {
        img {
          width: 20px;
          height: 20px;
          margin: 1em;
          filter: invert(70%);
        }
      }
    }
  }
}

#subtitle {
  font-size: 0.8em;
  margin: 0.25em 0 0.25em 2em;
}

#container {
  margin: 0;
  width: 100%;
}

#appWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#fieldWrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 4em auto 1em auto;
  padding: 1em;
}

#editor {
  box-sizing: border-box;
  width: 40%;
  min-height: 20em;
  margin: 0 1em 0 1em;
  padding: 0.5em;
  resize: none;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  background-color: #333;
  color: #ddd;
  border: 2px solid #333;
  border-radius: 4px;
  box-shadow: 0 10px 10px #333;

  -webkit-overflow-scrolling: touch;
  &:focus {
    outline: none;
    box-shadow: 0 10px 15px #333;
  }
}

#preview {
  box-sizing: border-box;
  width: 60%;
  margin-left: 1em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #fff;
  color: #333;
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: 0 10px 10px #333;
}

@media (max-aspect-ratio: 1/1) {
  #fieldWrap {
    flex-direction: column;
  }
  #editor {
    width: 100%;
    margin: 0 0 2em 0;
  }
  #preview {
    width: 100%;
    margin: 0;
  }
}
