body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #eee;
  color: #333;
  overflow-x: hidden;
  -webkit-transition: 0.75s cubic-bezier(0.75, 0, 0.25, 1);
  transition: 0.75s cubic-bezier(0.75, 0, 0.25, 1);
}

#wrapper {
  width: 100%;
}

#headerWrap {
  position: fixed;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em 0 1em;
  margin: 0;
  background-color: #bbb;
  -webkit-box-shadow: 0 0 10px #999;
          box-shadow: 0 0 10px #999;
}

#title {
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 2em;
  margin: 0.25em;
}

#title i {
  margin: 0.1em;
  vertical-align: middle;
}

#menuBtn {
  position: fixed;
  top: 0;
  right: 0.9em;
  z-index: 1001;
  background: none;
  border: none;
  -webkit-transition: 0.75s cubic-bezier(0.75, 0, 0.25, 1);
  transition: 0.75s cubic-bezier(0.75, 0, 0.25, 1);
}

#menuBtn:focus {
  outline: none;
}

#menuBtn i {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 0.5em;
  font-size: 2.5em;
}

#menuBtn .icon-open {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(-180deg) scale(0.5);
          transform: rotate(-180deg) scale(0.5);
  opacity: 0;
}

#menuBtn .icon-closed {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

#menuBtn.open {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#menuBtn.open .icon-open {
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  opacity: 1;
}

#menuBtn.open .icon-closed {
  -webkit-transform: rotate(180deg) scale(0.5);
          transform: rotate(180deg) scale(0.5);
  opacity: 0;
}

#menu {
  position: fixed;
  right: 0;
  top: 56px;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #20262c;
  color: #ddd;
  -webkit-transition: 0.75s cubic-bezier(0.75, 0, 0.25, 1);
  transition: 0.75s cubic-bezier(0.75, 0, 0.25, 1);
}

#menu.closed {
  -webkit-transform: translate3d(100vw, 0, 0);
          transform: translate3d(100vw, 0, 0);
}

#menu.open {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

#menu #menuContent {
  width: 90%;
  margin: 1em auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu #menuContent a {
  color: #ddd;
}

#menu #menuContent #toolBox {
  margin: 2em 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

#menu #menuContent #toolBox .tool {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu #menuContent #toolBox .tool img {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

#menu #menuContent #contactLinks {
  margin: 1em;
}

#menu #menuContent #contactLinks .contactDetails img {
  width: 20px;
  height: 20px;
  margin: 1em;
  -webkit-filter: invert(70%);
          filter: invert(70%);
}

#subtitle {
  font-size: 0.8em;
  margin: 0.25em 0 0.25em 2em;
}

#container {
  margin: 0;
  width: 100%;
}

#appWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#fieldWrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 4em auto 1em auto;
  padding: 1em;
}

#editor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  min-height: 20em;
  margin: 0 1em 0 1em;
  padding: 0.5em;
  resize: none;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  background-color: #333;
  color: #ddd;
  border: 2px solid #333;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 10px #333;
          box-shadow: 0 10px 10px #333;
  -webkit-overflow-scrolling: touch;
}

#editor:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 15px #333;
          box-shadow: 0 10px 15px #333;
}

#preview {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  margin-left: 1em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #fff;
  color: #333;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 10px #333;
          box-shadow: 0 10px 10px #333;
}

@media (max-aspect-ratio: 1 / 1) {
  #fieldWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #editor {
    width: 100%;
    margin: 0 0 2em 0;
  }
  #preview {
    width: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */